{% extends '_base.html' %} {% load crispy_forms_tags %} 
{% block title%}Profiles Gallery{% endblock title %}

{% block content %}

<div class="row" align="center">
  <div class="col-12 profile_info">
    <div class="col-12 mt-4">
      <div class="card profile_card">
        <div class="card-header">
          <h4>Profile name: {{ profile.username }}</h4>
          {{ profile.email }}
        </div>
        <div class="col-12 mt-4">
          <img
            src="{{ profile.profile_picture.url }}"
            alt="profile picture"
            class="profile_picture"
          />
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ profile.about_user }}.</p>
            <footer class="blockquote-footer">
              Registered since:
              <cite title="Source Title">{{ profile.registered_at }}</cite>
            </footer>
          </blockquote>
        </div>
        {% if profile == user %}
        <div class="mb-3">
          <a href="{% url 'edit_profile' pk=profile.pk %}">
            <button class="btn btn-primary profile_btn">
              Edit Info
            </button>
          </a>
          <a href="{% url 'remove_account' pk=profile.pk %}">
            <button class="btn btn-danger profile_btn">
              Remove account
            </button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- thumbnail user gallery -->
  <div class="container mt-1">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
      Birds shared so far...
    </h1>
    <hr class="mt-2 mb-5" />
    <div class="row text-center text-lg-left">
      {% for bird in profile.photographers.all %}
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{% url 'bird_detail' pk=bird.pk %}" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail profile_birds"
            src="{{ bird.picture.url }}"
            alt="bird picture"
          />
        </a>
      </div>
      {% empty %}
      <div class="col-12 mb-3" style="text-align: center;">
        <h4>
          No contributions yet... To start sharing, click
          <a href="{% url 'add_bird' %}">here</a>
        </h4>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- thumbnail user gallery end -->

</div>
{% endblock content %}
