readme.txt
docker-compose.yml
docker-compose.yml
static/img/background5.jpg
static/img/background6.jpg
docker-compose.prod.yml
media/bird/cover1_3anOjjF.jpg
media/bird/cover1_C9nVwp0.jpg
media/bird/cover1.jpg
media/bird/cover2.jpg
media/bird/jan-meeus-7LsuYqkvIUM-unsplash.jpg
media/bird/kevin-mueller-aeNg4YA41P8-unsplash.jpg
media/bird/zdenek-machacek-Vu4-Il_2Kdo-unsplash.jpg
