{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Birds{% endblock title %}

{% block content %}
<!-- bird picture div -->
<div class="row p-1">
  <div class="container" align=center>
    <hr class="featurette-divider">
    <div class="col-12">
      <img id='bird_image' class="bird_detail_image img-fluid" src="{{bird_detail.picture.url}}" data-src="{holder.js/500x500/auto}" alt="Picture not found">
    </div>
    <div class="col-12 mt-2">
      {% if bird_detail.photographer == user %}

        <button class="btn btn-warning rotate_btn" id="rotate_left" data-pk="{{bird_detail.pk}}">
          <i class="fas fa-redo"></i>
        </button>          
        <a href="?name=rotate-right&pk={{bird_detail.pk}}">
          <button class="btn btn-warning rotate_btn">
            <i class="fas fa-undo"></i>
          </button>
        </a>
      {% endif %}
    </div>
  </div>
  
<!-- bird picture div -->
<!-- bird detailed information div -->
  <div class="col-12 ">
            <hr class="featurette-divider">
                  <div class="row featurette">
                    <div class="col-md-12 order-md-2" align=center>
                      <h4 class="featurette-heading">Species: <span class="text-muted">{{bird_detail.species}}</span></h4>
                      <h4 class="featurette-heading">Location: <span class="text-muted">{{bird_detail.location}}</span></h4>
                      <h4 class="featurette-heading">Photographer: 
                          <span class="text-muted">
                            <a href="{% url 'profile_detail' pk=bird_detail.photographer.pk %}">
                                {{bird_detail.photographer|capfirst}}</a>
                            </span></h4>
                            <h4 class="featurette-heading">Photographer comments: <span class="text-muted">{{bird_detail.photographer_comment}}</span></h4>
                        {% if bird_detail.photographer == user %}
                          <a href="{% url 'bird_update' pk=bird_detail.pk %}">
                            <button class="btn btn-info bird_detail_btn">
                              <i class="fas fa-feather-alt"></i> 
                            </button>
                          </a>
                          <a href="{% url 'bird_delete' pk=bird_detail.pk %}">
                            <button class="btn btn-danger bird_detail_btn">
                              <i class="fas fa-dove"></i>
                            </button>
                          </a>
                        {% endif %}
                        <!-- seed button only for users other than photographer -->
                        {% if user != bird_detail.photographer %}
                            <button class="btn btn-dark bird_detail_btn" id="seed" data-pk="{{bird_detail.pk}}">
                              <i class="fas fa-seedling" id="seed_ico"> {{bird_detail.seeds.count}}</i> 
                            </button>
                        {% else %}
                            <button class="btn btn-dark bird_detail_btn" disabled>
                              {{bird_detail.seeds.count}} <i class="fas fa-seedling"></i> 
                            </button>
                        {% endif %}
                    </div>
                  </div>
                  <hr class="featurette-divider">
                </div>
        <!-- col ends here -->
  </div>
<!-- bird detailed information div -->
<!-- comment textbox container -->
<div class="container"> 
  <div class="media mt-3 shadow-textarea">
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3 comment_picture_size" src="{{user.profile_picture.url}}"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold blue-text">Add a comment:</h5>
          <div class="form-group basic-textarea rounded-corners">
            <form method="POST" id="comment_form" action="." data-pk="{{bird_detail.pk}}">
              {% csrf_token %}
              {{ comment_form|crispy }}
              <input type="submit" class="btn btn-primary" value="Send your nice comment!">
            </form>
          </div>
        </div>
  </div>
</div>

<div class="main-comment-body">
  {% include 'bird/comments_replies.html' %}

</div>

{% endblock content %}
