{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container" align=center>
  <img class="mb-2 home_page_top_img  img-fluid" src="{% static 'img/everywhere_2.jpg' %}" alt="image of geese hidden on tall grass">
</div>

<div class="jumbotron jumbotron-fluid p-3 mt-3">
  <div class="container home_text">
      <h5>Take pictures of the birds you see during your day... 
          or night and upload them to Whistly.</h5>
  
      <h5>With these pictures we hope to make people conscious
          of our feathered neighbors!</h5>
          <h5>Just follow these simple steps and you are ready to go!</h5>
  </div>
      
</div>
    
    
    <div class="container-fluid mt-5" align=center>
      
      <div class="row">
                  <div class="col-lg-4 mb-3">
                    <h2 class="mb-2">Step one - Hide & Seek</h2>
                    <img class="home_page_imgs rounded-circle img-fluid mb-3" src="{% static 'img/hide&seek.jpg' %}" alt="image of geese hidden on tall grass">
                    <h5 class="tips-text">The first step is to locate the bird and this can be tricky! 
                        A Few birds are exhibitionists but most are quite shy on cameras and reluctant to show off their beauty for stranger. 
                        Be very quite and try to mingle to their environement not to disturb or send away our little friends!</h5>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <h2 class="mb-2">Step Two - Be Patient!</h2>
                    <img class="home_page_imgs rounded-circle img-fluid mb-3" src="{% static 'img/patient.jpg' %}" alt="image of seagul standing on one leg">
                    <h5 class="tips-text">The second step is to be very patient and let the bird feel comfortable with your presence. A startled bird will not pose for your lens and will probably just fly away (or chase you away if it is a Goose!).
                      Take your time and it will be reward with the most beautiful pictures. 
                    </h5>
                  </div>
                  <div class="col-lg-4">
                    <h2 class="mb-2">Step Three - Share!</h2>
                    <img class="home_page_imgs rounded-circle img-fluid mb-3" src="{% static 'img/share.jpg' %}" alt="image of birds sharing food">
                    <h5 class="tips-text">The third step is easy: Select the best pictures you took and share with our community! Just login and start uploading.
                        Share as much detail you can about the bird and the place you took the picture. We are more than happy to receive your contribution!
                    </h5>
                  </div>
    </div>


      <div class="row">
        <div class="col">
          <div class="mb-5 mt-5" align=center>
              {% if user.is_authenticated %}
                  <h3 class="mb-4">Start sharing with our community and enjoy!</h3> 
                      <a href="{% url 'add_bird' %}"><button class="btn btn-info home_gallery_btn" style="height: 70px; width: 250px">Feathers UP!</button></a>
              {% else %}
                  <h3>Click 
                          <a href="#">here</a>
                          to find out more about our project,</h3>
                      <h3>or simply sign up with us...</h3>
                      <a href="{% url 'account_login' %}" class="mr-3"><button class="btn btn-info home_login_btn">Login In</button></a>
                      <a href="{% url 'account_signup' %}" class="mr-3"><button class="btn btn-info home_signup_btn">Sign Up</button></a>
              {% endif %}
          </div>

        </div>

      </div>
    </div>

    {% include 'footer.html' %}
{% endblock content %}
